####################################################################################################
#  Bem vindo ao servidor {{ ansible_fqdn }}
#  Esse servidor e auditado  e monitorado conforme todas regras de seguranca
#  IP: {{ [ address ]  }}
#  Linux do tipo: {{ [ ansible_distribution ] }} Versao: {{ [ ansible_distribution_version ] }}
####################################################################################################
